<div id="<%= dom_id fpost %>">
  <p>
    <strong>Post title:</strong>
    <%= fpost.post_title %>
  </p>

  <p>
    <strong>Post text:</strong>
    <%= fpost.post_text %>
  </p>

  <p>
    <strong>Post datetime:</strong>
    <%= fpost.post_datetime %>
  </p>

  <p>
    <strong>Post user:</strong>
    <%= fpost.post_user_id %>
  </p>

</div>
